.bio-section {
  height: 100vh;
}
.projects-section {
  padding-bottom: 70px;
}
.main-header {
  text-align: center;
}
.projects-header {

}
.body-text {
  
}
.center-block {
  width: 100%;
}
.social-media {
  position: -webkit-sticky;
  position: sticky;
  top: 90%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.icons {
  padding: 10px;
  color: black;
  font-size: 20px;
}
.projects-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 10px 0px;
}

.case-study {

}
.tags {
  margin: 0;
  text-align: right;
}

/*Side bar setup*/
.side-bar {
  width: 60%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #ACB7DD;
  position: sticky;
  top: 0px;
  bottom: 0px;
  left: 0px;
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
  display: none;
}
.close-btn-top {
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  text-decoration: underline;
  color: black;
}
.close-btn-top:hover {
  color: grey;
}

/*Case study styling*/
.content-container {
  display: flex;
  flex-direction: column;
}
.case-header {
  text-align: center;
}
.case-content {
  text-align: left;
  width: 90%;
  padding: 15px;
}
.case-image {
  width: 90%;
}
.case-sub-header {
  padding-left: 15px;
}
.side-by-side {
  display: flex;
  flex: 30% 30% 30%;
}

/* Media query section */
@media only screen and (max-width: 600px)  {
  #side-bar {
    width: 100%;
  }
}



