body, .container {
  background: #F6F4EE;
}

img {
  width: 500px;
  cursor: url(images/Ellipse.png), auto;
  opacity: 1;
  display: block;
  width: 100%;
  height: 300px;
  transition: .5s ease;
  backface-visibility: hidden;

}
.case-study {
  text-align: center;
  position: relative;
}

.case-study-name {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
.case-study-headline {
  font-size: 36px;
  font-family: courier-std, monospace;
  font-weight: 400;
  font-style: normal;
}
.case-study-desc {
  font-size: 18px;
  font-family: courier-std, monospace;
  font-weight: 400;
  font-style: normal;
}

.case-study:hover .case-photo {
  opacity: 0.2;
  transition: 0.3s ease;
}

.case-study:hover .case-study-name {
  opacity: 1;
  transition: 0.3s ease;
  color: black;
}

.container {
  display: flex;
  margin-top: 100px;
  padding: 0 !important;
  text-align: justify;
  /*background: #F6F4EE;*/
}
.left-side {
  flex: 0 0 30%;
  top: 30vh;
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
}
.right-side {
  flex: 0 0 70%;
  max-width: 500px;
}
.social-media {
  font-size: 18;
  /*text-transform: capitalize;*/
  list-style: none;
}
.link {
  color: #2F69AE;
  text-decoration: underline;
  transition: all .1s;
}
.link:hover {
  background: #2F69AE;
  color: white;
  text-decoration: none !important;
}
/* Decorative lines */
.title-line {
  border-bottom: 1px solid black;
  max-width: 500px;
  margin: 20px 0px;
}
.sub-line {
  border-bottom: 1px solid black;
  max-width: 50px;
  margin: 20px 0px;
}
.sub-line:last-child {
  margin-bottom: 100px;
}
.body-content, .link, .headline {
  font-family: courier-std, monospace;
  font-weight: 400;
  font-style: normal;
}
.body-content {
  font-size: 14px;
}
.sub-header, .headline {
  font-size: 20px;
}
.header {
  font-size: 28px;
}
.header, .sub-header {
  font-family: courier-std, monospace;
  font-weight: 700;
  font-style: normal;
}
.book-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.book-list a:hover {
  text-decoration: none !important;
}
.book-list > * {
  text-transform: capitalize;
}

/* Accounting for phones in portrait mode*/
@media screen and (max-width: 600px) {
  .container {
    margin: 0px !important;
    flex-direction: column;
    overflow: hidden;
  }
  .headline {
    text-align: left !important;
    font-size: 18px;
  }
  .right-side {
    padding: 20px 15px;
    max-width: 100vw;
    margin-top: 50px;
  }
  .social-media {
    display: flex;
  }
  .social-media > li{
    flex: 0 0 25%;
    align-items: center;
  }
  ul.social-media:first-child {
    padding-left: 0;
  }
  ul.social-media {
    padding-left: 0;
    text-align: center;
    align-items: center;
  }
  .left-side {
    width: 100vw;
    position: absolute !important;
    top: 10px;
    align-items: center;
  }
  .sub-line:last-child {
    margin-bottom: 50px;
  }
}








