body {
  background-color: rgba(229, 229, 229, 0.3);
  font-family: courier-std, monospace;
  font-weight: 400;
  font-style: normal;
}
.container {
  display: flex;
  margin-top: 100px;
}
.left-side {
  flex: 0 0 30%;
}

.right-side {
  flex: 0 0 70%;
  max-width: 500px;
}

.social-media li {
  text-decoration: none;
}
.link {
  color: #2F69AE;
  text-decoration: underline;
}

/* Decorative lines */
.title-line {
  border-bottom: 1px solid black;
  max-width: 500px;
  margin: 20px 0px;
}
.sub-line {
  border-bottom: 1px solid black;
  max-width: 50px;
  margin: 20px 0px;
}
.sub-line:last-child {
  margin-bottom: 100px;
}
.body-content, .link, .headline {
  font-family: courier-std, monospace;
  font-weight: 400;
  font-style: normal;
}
.body-content {
  font-size: 14px;
}
.sub-header, .headline {
  font-size: 20px;
}

.header {
  font-size: 28px;
}

.header, .sub-header {
  font-family: courier-std, monospace;
  font-weight: 700;
  font-style: normal;
}